
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: poppins, sans-serif;
    background-color: #cfcdcd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.input-check{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
input[type="text"] {
    text-align: center;
    padding: 10px 0px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

button {
    text-transform: capitalize;
    font-weight: bold;
    width: 500px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: hsl(315, 75%, 50%);
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.7;
}
#output{
    visibility: hidden;
}
button:hover {
    background-color: hsl(315, 75%, 30%);

}
button.active {
    opacity: 1;
}
